body {
    background: url("../res/img/common/wide-wallpaper-1920x1080-018-opacity-75.jpg") no-repeat;
    background-size: 100% 100%;
    margin: 0 20px 0 20px !important;
}

header img {
    opacity: 0.7;
    width: 525px;
    height: 130px;
}

#already-known-section img, table img {
    height: 19px;
}

table td:first-child img, img {
    height: 35px;
}

#achievement-section img {
    height: 25px;
    margin-right: 5px;
}

#funeral-process-img {
    position: absolute;
    top: 707px;
    left: 295px;
    height: 40px;
    z-index: 1;
}

table td:first-child {
    width: 7%;
}

#work-table td:nth-child(2) {
    width: 17%;
}


#starvation-warning img {
    width: 40px;
}

div#events-div div {
    padding: 5px 8px;
}

button {
    width: 135px;
    border-radius: 30%;
    background-color: white;
    height: auto;
    font-weight: bold;
    box-shadow: 0 0 5px 1px black;
}

button.btn {
    padding: 3px;
}

#pause-button {
    float: right;
    width: 40px;
}

#pause-button img {
    height: 21px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section:nth-child(1) {
    flex: 1 auto;
    max-width: 355px;
}

.section:nth-child(2) {
    flex: 2 auto;
    max-width: 600px;
    margin-left: 5px;
}

.section:nth-child(3) {
    flex: 1 2;
    max-width: 500px;
    margin-left: 5px;
}

@media all and (min-width: 1600px) {
    .game-container {
        justify-content: space-around;
    }
}

@media all and (max-width: 1200px) {
    .game-container {
        flex-direction: column;
        align-content: center;
    }

    .section:nth-child(n) {
        max-width: 100%;
    }
}

#getFullButton {
    position: absolute;
    left: 300px;
    top: 9px;
}

table {
    opacity: 0.8;
}

table caption {
    caption-side: top;
    text-align: left;
}

table td, table th {
    vertical-align: middle !important;
    border-top: 0 !important;
}

th {
    text-align: center !important;
}

#work-table th:nth-child(4) {
    width: 10%;
}

#building-table td:nth-child(3) {
    min-width: 20px;
}

td {
    text-align: right;
}

.one-work-td, .ten-work-td {
    width: 7%;
}

#work-table button {
    width: 35px;
    padding: 0;
    font-size: 10px;
}

#work-table {
    width: fit-content;
}

#click-resource-table td:nth-child(3),
#people-productivity-table td:nth-child(3) {
    min-width: 90px;
}

#building-table td:last-child,
#technology-table td:last-child {
    font-style: italic;
}

.table-primary td {
    padding: 1px !important;
}

/* EVENTS */
#events-div {
    max-height: 200px;
    overflow: hidden;
}

#events-div div {
    display: none;
    margin: 0 0 2px 0 !important;
}

#events-div:hover {
    overflow-y: auto;
}

#events-div > * {
    max-width: 480px;
}


#already-known-p {
    cursor: pointer;
}

/* @MAIL */
#author {
    position: absolute;
    left: 200px;
    top: 110px;
    font-style: italic;
    font-size: 11px;
}

/* TEST */
a img {
    position: absolute;
    left: 455px;
    top: 35px;
    opacity: 0.05;
}

.alert {
    opacity: 0.85;
}

table caption {
    color: white;
}