body {
    background: url("../res/img/common/background-village2.jpg") no-repeat;
    background-size: 100% 100%;
}

header img {
    opacity: 0.7;
    width: 525px;
    height: 130px;
}

table img {
    height: 35px;
}

#achievement-section img {
    width: 25px;
    margin-right: 5px;
}

#funeral-process-img {
    position: absolute;
    top: 578px;
    left: 60px;
    width: 40px;
}

#starvation-warning img {
    position: absolute;
    top: 220px;
    left: 305px;
    width: 40px;
}

button {
    padding: 6px;
    width: 120px;
    border-radius: 30%;
    background-color: white;
    height: auto;
    font-weight: bold;
}

#work-table button {
    width: 35px;
    padding: 0px;
    font-size: 11px;
}

#start-again-button {
    position: absolute;
    left: 200px;
    top: 505px;
    background-color: green;
    color: white;
    padding: 3px;
}

table {
    border: 3px solid black;
    border-spacing: 5px;
    border-collapse: collapse;
    font-size: 14px;
}

caption {
    text-align: left;
}

th {
    color: darkblue;
}

#work-table th:nth-child(4) {
    min-width: 50px;
}

#building-table td:nth-child(3) {
    min-width: 20px;
}

td {
    padding: 2px;
    border: 2px solid green;
    text-align: right;
}

#click-resource-table td:nth-child(3) {
    min-width: 90px;
}

#people-productivity-table td:nth-child(3) {
    min-width: 85px;
}

.empty-td {
    border: 0px;
}

#building-table td:last-child,
#technology-table td:last-child {
    font-style: italic;
}

#click-people-block,
#work-building-block,
#achievement-technology-block {
    float: left;
    margin-right: 45px;
}

#work-building-block {
    margin-bottom: 30px
}

#achievement-technology-block {
    margin-right: 0px;
}

#goal {
    border: 5px solid black;
    color: white;
    background-color: black;
}

#starvation-warning span {
    color: white;
    background: red;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 40%;
    margin-left: 175px;
}

#achievement-section {
    border: 3px solid black;
    padding: 10px;
    border-radius: 20%;
    width: 470px;
}

#author {
    position: absolute;
    left: 200px;
    top: 110px;
    font-style: italic;
    font-size: 11px;
}

#events-div p {
    margin: 0px;
}

.build-empty-row {
    background-color: #3b29e0;
}

#events-div {
    max-height: 90px;
    overflow: hidden;
    max-width: 495px;
}

#events-div:hover {
    overflow-y: auto;
}

#events-div > * {
    max-width: 485px;
}