body {
    background: url("../res/img/common/background-village2.jpg") no-repeat;
    background-size: 100% 100%;
    margin: 0 20px 0 20px !important;
}

header img {
    opacity: 0.7;
    width: 525px;
    height: 130px;
}

#already-known-section img, table img {
    height: 20px;
}

table td:first-child img, img{
    height: 35px;
}

#achievement-section img {
    height: 25px;
    margin-right: 5px;
}

#funeral-process-img {
    position: absolute;
    top: 562px;
    left: 505px;
    height: 40px;
}

table td:first-child {
    width: 7%;
}

#work-table td:first-child {
    width: 35%;
}

#starvation-warning img {
    width: 40px;
}

div#events-div div {
    padding: 5px 8px;
}

button {
    width: 135px;
    border-radius: 30%;
    background-color: white;
    height: auto;
    font-weight: bold;
}

button.btn {
    padding: 3px;
}

.container {
    display: flex;
    margin-left: 0 !important;
    max-width: 100% !important;
}

#click-people-block {
    width: 23%;
}

#getFullButton {
    position: absolute;
    left: 300px;
    top: 9px;
    opacity: 0.03;
}

table {
    opacity: 0.8;
}

table caption {
    caption-side: top;
    text-align: left;
}

table td, table th {
    vertical-align: middle !important;
    border-top: 0 !important;
}

th {
    text-align: center !important;
}

#work-table th:nth-child(4) {
    width: 10%;
}

#building-table td:nth-child(3) {
    min-width: 20px;
}

td {
    text-align: right;
}

.one-work-td, .ten-work-td {
    width: 7%;
}

.table td, .table th {
    padding: 0.50rem;
}

#work-table button {
    width: 40px;
    padding: 0;
}

#click-resource-table td:nth-child(3),
#people-productivity-table td:nth-child(3) {
    min-width: 90px;
}

#building-table td:last-child,
#technology-table td:last-child {
    font-style: italic;
}

#click-people-block,
#work-building-block,
#achievement-technology-block {
    float: left;
    margin-right: 45px;
    width: 37%;
}

#click-people-block{
    width: 25%;
}

.table-primary td {
    padding: 2px !important;
}

#achievement-technology-block {
    margin-right: 0;
}

/* EVENTS */
#events-div {
    max-height: 200px;
    overflow: hidden;
}

#events-div div {
    display: none;
    margin: 0 0 2px 0 !important;
}

#events-div:hover {
    overflow-y: auto;
}

#events-div > * {
    max-width: 750px;
}


#already-known-p {
    cursor: pointer;
}

/* @MAIL */
#author {
    position: absolute;
    left: 200px;
    top: 110px;
    font-style: italic;
    font-size: 11px;
}

/* TEST */
a img {
    position: absolute;
    left: 455px;
    top: 35px;
    opacity: 0.05;
}